body {
    min-height:100vh;
    background-image: url(minecraftbckgrnd2.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    background-position:center;
    justify-content:center;
    display:flex;
}

h1 {
   font-family: 'MinecraftiaRegular';
    font-weight:normal;
    display: inline-block;
    position: absolute;
    top: 50px;
    justify-content:center;
    font-size: 24px;
    color: white;
    text-shadow: 2px 2px black;
}

h2{
    font-family: 'MinecraftiaRegular';
    font-weight:normal;
    display: inline-block;
    position: absolute; 
    bottom:80px;
    left:230px;
    color: white;
    text-shadow: 2px 2px black;
    opacity:0;
    transition: opacity 0.3s ease;
    transition-delay: 0.3s;
}

img {
    position: absolute;
}

#wrapper {
    padding-top:350px;
    position: relative;
    width: 600px;
    height: 200px;
}

.bone {
    left: 0;
    cursor: pointer;
    opacity:1;
    transition: left 0.6s ease, opacity 0.5s ease;
    width:150px;
}

.bone:hover {
  filter: drop-shadow(0 0 8px green);
}

.untamed {
    right: 0;
    width: 250px;
}

.tamed {
    right: 0;
    display: none;
    width: 250px;
}

.hearts {
  position: absolute;
  left: 300px;
  bottom: 150px;
  width:300px;
  opacity: 0;
  transition: opacity 0.8s ease;
  transition-delay: 0.3s;
}

#tame:checked ~ #wrapper .hearts {
  opacity: 1;
  animation: floatUp 1s ease-out forwards;
  animation-delay: 0.9s;
}

@keyframes floatUp {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-40px);
    opacity: 0;
  }
} 

#tame {
    display: none;
}

#tame:checked ~ #wrapper .bone {
    left: 360px;
    opacity:0;
}

#tame:checked ~ #wrapper .untamed {
    display: none;
}

#tame:checked ~ #wrapper .tamed {
    display: block;
}

#tame:checked ~ #wrapper .bottomtxt {
    opacity:1;
}