body {
  background: #0d0d0d;
  color: white;
  font-family: Arial, sans-serif;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
  border:2px solid white;
  border-radius:5px;
  height:630px;
}

#reveal {
  display: none;
}

h1 {
  margin-bottom: 50px;
  margin-top:40px;
}

.intro {
  animation: fadeUp 1.3s ease both;
}

.reveal {
  padding: 12px 24px;
  border: 2px solid white;
  border-radius: 4px;
  cursor: pointer;
 letter-spacing:1px;
  transition: background 0.3s, color 0.3s, border-radius 0.3s, letter-spacing 1s;
}

.reveal:hover {
  background: white;
  color: black;
  border-radius:6px;
  letter-spacing: 2px;
}

.drumroll {
  opacity: 0;
  margin-top: 30px;
  transition: opacity 0.5s ease;
  height:auto;
}

.drumroll img {
  width:100px;
}

.video {
  opacity: 0;
  transition: opacity 1.5s ease;
}

.info, .info2 {
  opacity: 0;
  transition: opacity 1.5s ease;
}

.icons {
  opacity: 0;
  transition: opacity 1.5s ease;
}

a {
  text-decoration:none;
  color:white;
  font-size:26px;
  letter-spacing: 5px;
  padding-bottom:0px;
  transition: font-size 0.3s;
}

a:hover {
  font-size:30px;
}

iframe {
  width: 560px;
  height: 315px;
}


h2 {
  margin-top: 20px;
}


#reveal:checked ~ .container .drumroll {
  opacity: 1;
  animation: hideDrum 0.5s forwards;
  animation-delay: 1.5s;
}

@keyframes hideDrum {
  to {
    opacity: 0;
    height: 0;
    margin-top: 0;
  }
}

@keyframes fadeUp {
  from {
      opacity: 0;
      transform: translateY(22px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

#reveal:checked ~ .container .video {
  opacity: 1;
  transition-delay: 2s;
}

#reveal:checked ~ .container .reveal {
  display: none;
}

#reveal:checked ~ .container .info {
  opacity: 1;
  transition-delay: 2.5s;
}

#reveal:checked ~ .container .info2 {
  opacity: 1;
  transition-delay: 3s;
}

#reveal:checked ~ .container .icons {
  opacity: 1;
  transition-delay: 3.5s;
}





